In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/CollegePlacement.csv')

In [ ]:
data.head()

   Python  DeepLearning  MachineLearning  BigData  CloudComputing Placement
0    0.80          0.57             0.63     0.50            0.34       Yes
1    0.81          0.90             0.62     0.71            0.92        No
2    0.49          0.69             0.62     0.64            0.41        No
3    0.40          0.94             0.60     0.26            0.47        No
4    0.31          0.87             1.00     0.23            0.99        No

In [ ]:
data.tail()

     Python  DeepLearning  MachineLearning  BigData  CloudComputing Placement
195    0.47          0.13             0.78     0.10            0.11       Yes
196    0.14          0.49             0.19     0.33            0.85       Yes
197    0.95          0.65             0.62     0.74            0.61       Yes
198    0.60          0.99             0.66     0.71            0.93       Yes
199    0.87          0.23             0.97     0.45            0.42       Yes

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Python           200 non-null    float64
 1   DeepLearning     200 non-null    float64
 2   MachineLearning  200 non-null    float64
 3   BigData          200 non-null    float64
 4   CloudComputing   200 non-null    float64
 5   Placement        200 non-null    object
dtypes: float64(5), object(1)
memory usage: 9.5+ KB

In [ ]:
data.describe()

           Python  DeepLearning  MachineLearning     BigData  CloudComputing
count  200.000000    200.000000       200.000000  200.000000      200.000000
mean     0.514100      0.495850         0.514350    0.495150        0.474950
std      0.305749      0.290694         0.285211    0.292463        0.281686
min      0.000000      0.010000         0.000000    0.010000        0.000000
25%      0.237500      0.227500         0.267500    0.240000        0.227500
50%      0.545000      0.490000         0.540000    0.500000        0.485000
75%      0.800000      0.740000         0.770000    0.740000        0.702500
max      1.000000      1.000000         1.000000    1.000000        0.990000